#banner {
	height: 4vw;
	min-height: 70px;
	max-height: 110px;
	width: 100vw;
	position: fixed;
	top: 0;
	left: 0;
	background-color: #444;
	z-index: 100;
}

#banner > #left {
	height: 100%;
	display: table;
}

#banner > #left > p {
	font-size: 2em; 
	color: white;
	display: table-cell;
	vertical-align: middle;
}

#banner > #right {
	height: 100%;
}

#banner > #right > .link {
	text-align: center;
	height: 100%;
	display: table;
}

#banner > #right > .link > p {
	color: white;
	display: inline-block;
	font-family: Avenir;
	font-size: 1.6em;
	display: table-cell;
	vertical-align: middle;
}

#banner > #right > .link > p:hover {
	color: #aaa;
	cursor: pointer;
}

#mobileRight {
	text-align: right;
	display: table;
	height: 100%;
}

#mobileRight > i {
	color: white;
	display: table-cell;
	vertical-align: middle;
}

#cover {
	width: 100vw;
	height: 100vh;
	background-image: url('../img/booksm.jpg');
	background-size: cover;

}

#filter {
	background-color: white;
	height: 100%;
	padding: 80px 0%;
	overflow: hidden;
}

#filter .radio, #filter h1, #filter #ddlMonth, #filter button {
	margin-left: 5%;
}

#posts {
	height: 100%;
	overflow: scroll;
	padding: 80px 3% 0% 3%;
}

@media only screen and (min-device-width : 200px) and (max-device-width : 600px) {
	#posts {
	}
}